{% extends 'myadmin/public/base.html' %}

{% block title %}
<title>后台会员编辑</title>
{% endblock %}

{% block header %}
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading">
                <span class="am-icon-home page-header-heading-icon"></span> 
                会员编辑 <small>Amaze UI</small>
            </div>
        </div>
    </div>
{% endblock %}


{% block con %}
<link rel="stylesheet" type="text/css" href="/static/myadmin/css/bootstrap-fileinput.css">
<div class="row">
    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
        <div class="widget am-cf">
            <div class="widget-body am-fr">

                <form action="{% url 'myadmin_types_edit' %}?uid={{ userlist.id }}" method="post" enctype="multipart/form-data" class="am-form tpl-form-line-form">
                    {% csrf_token %}
                    

                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-3 am-form-label">
                            分类名
                        </label>
                        <div class="am-u-sm-9">
                            <input type="text" value="{{ userlist.name }}" name="name"  required minlength="2" maxlength="20" class="tpl-form-input"  placeholder="请输入用户名">
                        </div>
                    </div>
                  

                    
                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                            <button  class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button></div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/myadmin/js/bootstrap-fileinput.js"></script>
{% endblock%}